<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@2.40">
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>30</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableResumeJobProperty/>
    <com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty plugin="ownership@0.13.0"/>
    <org.jenkinsci.plugins.workflow.job.properties.DurabilityHintJobProperty>
      <hint>PERFORMANCE_OPTIMIZED</hint>
    </org.jenkinsci.plugins.workflow.job.properties.DurabilityHintJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.6.0">
          <name>pipelineLibrary</name>
          <description>Groovy JobDSL/Pipeline library, for example: https://github.com/zebrunner/pipeline-ce/releases</description>
          <editable>true</editable>
          <editableType>NoFilter</editableType>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.GlobalTextareaChoiceListProvider">
            <whenToAdd>Triggered</whenToAdd>
            <name>gc_PIPELINE_LIBRARY</name>
            <defaultChoice>Zebrunner-CE</defaultChoice>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.6.0">
          <name>runnerClass</name>
          <description>Pipeline runner class</description>
          <editable>true</editable>
          <editableType>NoFilter</editableType>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.GlobalTextareaChoiceListProvider">
            <whenToAdd>Triggered</whenToAdd>
            <name>gc_RUNNER_CLASS</name>
            <defaultChoice>com.zebrunner.jenkins.pipeline.runner.maven.TestNG</defaultChoice>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <com.wangyin.parameter.WHideParameterDefinition plugin="hidden-parameter@0.0.4">
          <name>zafiraFields</name>
          <description/>
          <defaultValue/>
        </com.wangyin.parameter.WHideParameterDefinition>
        <com.wangyin.parameter.WHideParameterDefinition plugin="hidden-parameter@0.0.4">
          <name>userId</name>
          <description/>
          <defaultValue>2</defaultValue>
        </com.wangyin.parameter.WHideParameterDefinition>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.6.0">
          <name>scmType</name>
          <description>Version control system type</description>
          <editable>true</editable>
          <editableType>NoFilter</editableType>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.GlobalTextareaChoiceListProvider">
            <whenToAdd>Triggered</whenToAdd>
            <name>gc_GIT_TYPE</name>
            <defaultChoice>github</defaultChoice>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>repoUrl</name>
          <description>Repository for scanning</description>
          <defaultValue>https://github.com/qaprosoft/carina-demo.git</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description>SCM repository branch to run against</description>
          <defaultValue>master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>scmUser</name>
          <description>SCM user</description>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>scmToken</name>
          <description>CSM token with read permissions</description>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.83">
    <script>@Library('Zebrunner-CE@develop')
import com.zebrunner.jenkins.pipeline.Repository;
new Repository(this).register()</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <authToken>ciStart</authToken>
  <disabled>false</disabled>
</flow-definition>