<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions/>
  <description>Enable Manage Jenkins/Configure Global Security/Project-based Matrix Authorization Strategy before start.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableResumeJobProperty/>
    <com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty plugin="ownership@0.12.1"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>tenancyName</name>
          <description>Tenancy folder name</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <com.wangyin.parameter.WHideParameterDefinition plugin="hidden-parameter@0.0.4">
          <name>accessToken</name>
          <description></description>
          <defaultValue>sldfnlwfnlkjwnefkwjef</defaultValue>
        </com.wangyin.parameter.WHideParameterDefinition>
        <com.wangyin.parameter.WHideParameterDefinition plugin="hidden-parameter@0.0.4">
          <name>callbackUrl</name>
          <description></description>
          <defaultValue>http://demo.qaprosoft.com/jobservice</defaultValue>
        </com.wangyin.parameter.WHideParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.63">
    <script>@Library(&apos;QPS-Pipeline&apos;)
import com.qaprosoft.jenkins.pipeline.Organization;
new Organization(this).delete()</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <authToken>ciStart</authToken>
  <disabled>false</disabled>
</flow-definition>