<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions/>
  <description>Register SCM organization folder on CI (github, gitlab etc) \n\n
  If you need to register Zafira with not default zafiraServiceURL and zafiraAccessToken follow the next steps:\n
    - Open "your_domain/app"\n
    - Enter your credentials (Default: admin/changeit)\n
    - Click on your profile icon in left-bottom corner\n
    - Click "Account and profile"\n
    - In Access Token field click on refresh icon - access token will appear in the text field\n
    - Copy access token from here and enter it into appropriate RegisterOrganization job parameter\n
    - Also copy Service URL and enter it into appropriate RegisterOrganization job parameter
  </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableResumeJobProperty/>
    <com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty plugin="ownership@0.12.1"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>folderName</name>
          <description>Organization name to be register as Jenkins folder. </description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pipelineLibrary</name>
          <description>Groovy JobDSL/Pipeline library, for example: https://github.com/qaprosoft/qps-pipeline/releases</description>
          <defaultValue>QPS-Pipeline</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>runnerClass</name>
          <description></description>
          <defaultValue>com.qaprosoft.jenkins.pipeline.runner.maven.QARunner</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>zafiraServiceURL</name>
          <description></description>
          <defaultValue>http://demo.qaprosoft.com/zafira-ws</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>zafiraAccessToken</name>
          <description></description>
          <defaultValue>eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIyIiwicGFzc3dvcmQiOiI5NVZ1b250akhMdkFieG1qQUJuMW1SaGxnb3BSY1pURiIsInRlbmFudCI6InphZmlyYSIsImV4cCI6MTMwNDMzOTg3MjExfQ.SARM591Yw8_fUWJVekUaCvydYgtsbOqaJQ9Zwv_yROmQ-0iToZ30HYBO3IY2KUKbmmqE36tUEjUf62TyT3my5w</defaultValue>
        </hudson.model.StringParameterDefinition>
        <com.wangyin.parameter.WHideParameterDefinition plugin="hidden-parameter@0.0.4">
          <name>callbackUrl</name>
          <description></description>
          <defaultValue></defaultValue>
        </com.wangyin.parameter.WHideParameterDefinition>
        <com.wangyin.parameter.WHideParameterDefinition plugin="hidden-parameter@0.0.4">
          <name>securityEnabled</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </com.wangyin.parameter.WHideParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.63">
    <script>@Library(&apos;QPS-Pipeline&apos;)
import com.qaprosoft.jenkins.pipeline.Organization;
new Organization(this).register()</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <authToken>ciStart</authToken>
  <disabled>false</disabled>
</flow-definition>
