<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions/>
  <description>Smart job to rebuild any milestone/cron/regression pipeline based on provided parameters:&#xd;
scm&#xd;
owner</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>100</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty plugin="ownership@0.12.1"/>
    <org.jenkinsci.plugins.workflow.job.properties.DurabilityHintJobProperty>
      <hint>PERFORMANCE_OPTIMIZED</hint>
    </org.jenkinsci.plugins.workflow.job.properties.DurabilityHintJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>upstreamJobId</name>
          <description>Parent pipeline job id. All children job results will be analyzed and some of them re-executed.</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>upstreamJobBuildNumber</name>
          <description>Parent pipeline job build number</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>scmURL</name>
          <description>[Optional] if provided then only jobs/suites which belong to this particular repo could be re-executed </description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>owner</name>
          <description>[Optional] if provided then only jobs/suites which belong to this particular user could be re-executed </description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>hashcode</name>
          <description>[Optional] mostly for integration with Reporting Tool to be able to re-execute only jobs which tests failed due to the absolutely the SAME reason.</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>cause</name>
          <description>[Optional] mostly for integration with Reporting Tool to be able to re-execute only jobs which tests failed due to the SIMILAR reason.</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>doRebuild</name>
          <description>Check it to do actual rebuild otherwise we will see in console log only number of suitable jobs for re-execution</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>rerunFailures</name>
          <description>Check to rebuild only failures otherwise all tests in job will be re-executed</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.63">
    <script>@Library(&apos;QPS-Pipeline&apos;)
import com.qaprosoft.jenkins.pipeline.runner.maven.QARunner;
new QARunner(this).rerunJobs()</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <authToken>ciStart</authToken>
  <disabled>false</disabled>
</flow-definition>